*.vsidx
*.vsidx
ProyectoCampo_Ostos/.vs/ProyectoCampo_Ostos/FileContentIndex/9ff7e4f3-d02a-4952-8681-6f8092114969.vsidx
*.vsidx
ProyectoCampo_Ostos/.vs/ProyectoCampo_Ostos/FileContentIndex/9ff7e4f3-d02a-4952-8681-6f8092114969.vsidx
